#AdminPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .header {
        background-color: $color-primary;
        width: 100%;
        text-align: center;
    }

    .main {
        background-color: $color-secondary;
        width: 80%;

        table {
            width: 100%;

            thead {
                text-transform: uppercase;
                text-align: left;
            }

            tbody tr td {
                text-align: left;
            }
        }
    }

    .footer {
        background-color: $color-primary;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
