@import "variables";
@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
    box-sizing: border-box;
    font-family: "Roboto";
    line-height: 1.5;
}

body {
    margin: 0;
}

a:visited {
    text-decoration: none;
    text-transform: none;
    color: black;
}

// TEMPLATE
.pageContainer {
    min-height: 100vh;
    max-height: 100vh;
    display: grid;
    grid-template-rows: 2fr 8fr 3fr;

    header,
    main,
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
