#AdminPage {
    main {
        background-color: $color-secondary;
        justify-content: flex-start;
        padding-top: 20px;

        #usersList {
            width: 100%;
            max-width: 360px;
        }

        .userLine {
            .userInfos {
                margin-left: 4vw;
            }
        }
    }

    .DeleteUserModal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% -50%);
        width: 400px;
        border: 2px solid #000;
        box-shadow: 24px;
        padding: 4px;
    }
}
