#UserPage {
    .leaflet-container {
        height: 100%;
        width: 100%;
    }

    .red-marker {
        background-color: red;
    }

    footer {
        max-height: 30vh;
        overflow: scroll;
        margin: 0 5px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 1fr);

        .div4 {
            grid-area: 2 / 1 / 3 / 2;
        }
        .div5 {
            grid-area: 3 / 1 / 4 / 2;
        }
        .div6 {
            grid-area: 4 / 1 / 5 / 2;
        }
        .div8 {
            grid-area: 2 / 2 / 4 / 3;
        }
        .div9 {
            grid-area: 4 / 2 / 5 / 3;
        }
        .div10 {
            grid-area: 5 / 2 / 6 / 3;
        }
        .div1 {
            grid-area: 1 / 1 / 2 / 3;
        }
        .div2 {
            grid-area: 1 / 1 / 2 / 2;
        }
        .div3 {
            grid-area: 1 / 2 / 2 / 3;
        }
        .div11 {
            grid-area: 1 / 3 / 3 / 4;
        }
        .div13 {
            grid-area: 4 / 3 / 6 / 4;
        }
        .div12 {
            grid-area: 2 / 3 / 3 / 4;
        }
        .div14 {
            grid-area: 5 / 3 / 6 / 4;
        }
    }
}
