#AdminPage {
    main {
        background-color: $color-secondary;
        justify-content: flex-start;
        padding-top: 20px;

        .MuiPaper-root {
            width: 80%;
        }
    }
}
