#AdminPage {
    main {
        background-color: $color-secondary;
        justify-content: flex-start;
        padding-top: 20px;

        .userInfos {
            width: 90%;
            padding-bottom: 10px;
        }

        .MuiAccordionSummary-content {
            display: flex;
            // justify-content: space-between;

            .leftSide {
                width: 20%;
            }

            .middle {
                width: 30%;
            }
        }
    }
}
