#UserPage {
    header {
        position: relative;
    }
    header button {
        position: absolute;
        right: 0;
        padding: 1%;
        top: 50%;
        transform: translate(0, -50%);
    }

    .leaflet-container {
        height: 70vh;
        width: 100%;
    }

    .red-marker {
        background-color: red;
    }

    footer {
        display: block;
        padding: 10px 5px;

        h2 {
            text-align: center;
        }
    }
}
