#Login {
    @media screen and (orientation: landscape) and (min-width: 601px) {
        background: no-repeat center / cover
            url("./assets/background_login_medium_landscape.webp");
    }

    @media screen and (orientation: landscape) and (max-width: 600px) {
        background: no-repeat center / cover
            url("./assets/background_login_small_landscape.webp");
    }

    @media screen and (orientation: portrait) and (min-width: 801px) {
        background: no-repeat center / cover
            url("./assets/background_login_large.webp");
    }

    @media screen and (orientation: portrait) and (min-width: 481px) and (max-width: 800px) {
        background: no-repeat center / cover
            url("./assets/background_login_medium.webp");
    }

    @media screen and (orientation: portrait) and (max-width: 480px) {
        background: no-repeat top / contain
            url("./assets/background_login_small.webp");
    }

    img {
        width: 25vw;
        height: auto;
        max-width: 10vh;
    }

    header h1 {
        text-transform: uppercase;
        font-family: "M PLUS Rounded 1c", "Shadows Into Light", cursive;
        font-size: 3rem;
        font-weight: 600;
        color: $color-secondary;
        text-shadow: white 1px 1px, white -1px 1px, white -1px -1px,
            white 1px -1px;
        letter-spacing: 2px;
    }

    button {
        background-color: $color-secondary;
    }

    main {
        a,
        a:visited {
            text-decoration: none;
        }

        p {
            cursor: pointer;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .MuiFormControl-root {
        margin: 10px;
    }

    .MuiButtonBase-root {
        margin: 20px;
    }
}
