#Login {
    header h1 {
        text-transform: uppercase;
    }

    main {
        label {
            font-weight: 700;
        }

        input {
            border-radius: 4px;
            background-color: white;
        }

        @media screen and (max-width: 600px) {
            background: no-repeat center / cover
                url("https://assets.storage.infomaniak.website/images/background/unsplash/Y1ByvAGQ5iE-small.jpg")
                center;
        }
        @media screen and (max-width: 900px) {
            background: no-repeat center / cover
                url("https://assets.storage.infomaniak.website/images/background/unsplash/Y1ByvAGQ5iE-medium.jpg");
        }
        @media screen and (min-width: 901px) {
            background: no-repeat center / cover
                url("https://assets.storage.infomaniak.website/images/background/unsplash/Y1ByvAGQ5iE-large.jpg");
        }

        p {
            cursor: pointer;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .MuiFormControl-root {
        margin: 10px;
    }

    .MuiButtonBase-root {
        margin: 20px;
    }
}
