#UserCreatePage {
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .MuiFormControl-root,
        .MuiAccordion-root {
            margin: 5px;
            width: 100%;
            max-width: 95vw;
        }
    }
}
